.footer {
  background-color: $color-grey-dark-1;
  grid-column: ml-start / mr-end;

  // margin-top: -8rem;

  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 15% 1fr 1fr 1fr 15%;
  align-items: center;
  grid-row-gap: 2rem;

  color: #fff;

  &__left {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: start;

    display: grid;
    grid-gap: 1rem;

    padding: 6rem 0;
  }

  &__center {
    grid-row: 2/3;
    grid-column: 3/4;

    justify-self: center;
  }

  &__right {
    grid-row: 2/3;
    grid-column: 4/5;
    justify-self: end;
  }
}
